.previousMatchesPage {
    padding: 2rem;
}

.backLink {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: var(--dark-green);
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
