.previousMatchesPage {
    padding: 2rem;
}

.backLink {
    display: inline-block;
    margin-top: 2rem;
    color: var(--dark-green);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.backLink:hover {
    text-decoration: underline;
}
