@import 'src/styles/colors.scss';

.navBarContainer {
    display: flex;
    flex-direction: column;
}

.topSectionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background-color: $headerBgColor;
    color: #fff;
    transition: all 0.4s ease-in-out;

    @media screen and (max-width: 1050px) {
        padding: 10px 20px;
    }

    .siteName {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.linksContainer {
    display: flex;
    justify-content: end;
    margin: 0 auto;
    width: var(--header-max-width);

    a {
        color: #2d3436;
        margin-left: 10px;
    }
}

.logout {
    color: #2d3436;
    margin-left: 10px;
    font-weight: 700;
    cursor: pointer;
}

.lowerSectionContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to right, $headerBgColor 50%, $topNavBgColor 50%);
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 1050px) {
        padding: 0 20px;
    }

    .logo {
        position: relative;
        left: 90px;
        bottom: 20px;

        @media screen and (max-width: 900px) {
            left: 0;
        }
    }

    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 0 20px;
        z-index: 999;

        .logo {
            bottom: 0;
            transform: translateY(-25px) scale(0.6);
            transform-origin: center bottom;
            margin-bottom: 0;
            transition: transform 0.4s ease-in-out, margin-bottom 0.4s ease-in-out;
        }
    }
}

.headerContainer {
    display: flex;
    flex-direction: column;
    width: var(--header-max-width);
}

.navbarSection {
    background: linear-gradient(135deg, transparent 25%, $topNavBgColor 25%);
    background-color: $headerBgColor;
    transition: padding 0.4s ease-in-out;

    &.sticky {
        padding: 5px 20px;
    }
}

.navLinksContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 0 auto;

    .navLinks {
        display: flex;
        list-style: none;
        gap: 2rem;
        display: flex;
        list-style: none;

        li {
            transition: transform 0.4s ease-in-out;
        }

        a {
            color: #fff;
            text-decoration: none;
            font-weight: 500;
            transition: color 0.4s ease-in-out;
        }
    }
}
