.nextMatch {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--off-white);
    opacity: 0.9;
    padding: 25px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;

    i {
        margin-right: 5px;
    }

    p {
        margin: 5px 15px;
    }
}

.nextMatchDetails {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    margin-top: 1rem;
}

.dateContainer {
    padding: 0 5px;
}

.moreInfo {
    display: inline-block;
    margin-top: 1rem;
    color: #0070f3;
    text-decoration: none;
}

.moreInfo:hover {
    text-decoration: underline;
}

.moreInfo {
    display: inline-block;
    margin-top: 1rem;
    color: #0070f3;
    text-decoration: none;
}

.moreInfo:hover {
    text-decoration: underline;
}