.matchesPage {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.previousMatchesLink {
    margin-top: 1rem;
    text-align: center;
    
    a {
        color: var(--dark-green);
        font-weight: bold;
        text-decoration: underline;
    }
}
